{
  "presets": [
   ["@babel/preset-env", { "modules": false }], ["@babel/preset-react"]
  ],
  "plugins": [
   "react-loadable/babel",
   "react-hot-loader/babel",
   "@babel/plugin-proposal-class-properties",
   "@babel/plugin-syntax-dynamic-import",
   ["@babel/plugin-proposal-decorators", { "legacy": true }]
 ]
}